@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Montserrat:wght@300&display=swap');
::placeholder { color: #F3F5FC; }
div.container{    
  font-family: 'Montserrat', sans-serif;
}
.container{
  display:grid;
  height: 100vh;
  grid-template-columns: 100vw;
  grid-template-rows: 10vh 80vh 10vh;    
}
.container header{  
  background-image: linear-gradient(180deg, #052051 0%, #072B61 10%, #0A3871 30%, #356EA9 100%, #609ED4 200%);
  display: flex;    
  height: 10vh;
  align-items: center;
  justify-content: initial;   
}
.logo {      
  justify-content: initial;
  width: 5vw;
  height: 6.5vh;    
  padding: 5vw;  
}

.titulo { 
  color: #E9ECF8;
  text-shadow:
  0 0 5px #356EA9,
  0 0 10px #356EA9,
  0 0 20px #356EA9,
  0 0 40px #609ED4,
  0 0 80px #609ED4,
  0 0 90px #609ED4,
  0 0 100px #609ED4,
  0 0 150px #609ED4;  
  position: absolute;    
  width: 100vw;
  height: 10vh;  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
main{  
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-position-x: center;
  display:grid;
  height: 80vh;    
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 0.5fr 0.5fr 4.5fr 0.5fr;  
  grid-template-areas: "conteiner11"
                       "conteiner12"
                       "conteiner13"                        
                       "container21"
                       "container22";
  flex-wrap: wrap;
  padding: 0px;          
}                      
main .container1
{  
  height: 40vh;      
}
main .container11
{ height: 25vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .container12
{ height: 2.5vh;  
  font-size: 8px;  
  display: flex;
  align-items: center;
  justify-content: initial;   
}
main .container13
{ height: 12.5vh;
  display: flex;
  align-items: center;
  justify-content: center;  
  flex-wrap: wrap;
  justify-content: space-evenly;  
}
main .container2
{ height: 40vh; 
}
main .container21
  {height: 27.5vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .container22
{height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;    
}

.ingrese{
  color:white;   
  Width: 80vw;
  height: 20vh;
  max-Width: 80vw;
  max-height: 20vh;
  background:transparent;  
  border: none;   
  font-family: 'Inter', sans-serif;
  font-family: 'Montserrat', sans-serif;
}
span{
  color: white;
}
/*----------------BOTONES--------------------*/
button:hover {
  box-shadow: 0px 2px #003DA5;  
  background-position: center;
  transition: background 0.8s;
  color:white;
  background: #0A3871 radial-gradient(circle, transparent 1%, #0A3871 1%) center/15000%;  
}
button:active {
  color: white;
  border: 1px solid #0A3871; 
  box-shadow: none;
  background-color: #356EA9;
  background-size: 100%;
  transition: background 0s;
}
button:focus {
  color: white;
  box-shadow: 0px 2px 0px #356EA9;
  background-color: #356EA9;  
}
button:disabled {
  color: #BBBBBB;
  cursor: not-allowed; 
}
button {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-style: normal;
  font-size: 12px;
  font-weight: 400;    
  width: 120px;   
}
.block {
  display: block;
  width: 100%;
  height: 48px;
  border: none;
  box-shadow: 0px 2px 0px #0A3871;  
}
.small {
  display: inline-block;
  padding: 0px 24px 0px 24px;
  height: 5vh;
  border: none;
  box-shadow: 0px 2px 0px #0A3871;  
}
.primario {
  background-color: #356EA9;  
  color: white;
}
.secundario {
  background-color: #E9ECF8;
  color: #003DA5;
}
.mostrarresultado{
    position: flex  ;
    Width: 80vw;
  height:20vh;
  border-radius: 10px;
  background:rgba(255,255,255,0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38,135, 0.37);
  backdrop-filter: blur(2px);  
  border: 1px solid rgba(255, 255, 255, 0.18);
  background-image: url(../img/encriptar_.jpg);
  background-size: cover;
  background-position-y: center; 
  padding: 2vw;
}
#bcopiar{
  display:none;
}
.footer{
  display:grid;
  height: 10vh;  
  grid-template-columns: 100vw;
  grid-template-rows: 4vh 4vh 2vh;  
  background-image: linear-gradient(180deg, #609ED4 0, #356EA9 20%, #0A3871 50%, #072B61 75%, #052051 100%);
  font-family: 'Play', sans-serif;
  text-align:center;
  }
  .footer img{
    height: 2vh;
  
  }
  .footer .row{
  width:100%;
  margin:0.1%;
  color:gray;
  }  
  .copyr_{
    font-size: 0.6em;
  }
  .footer .row a{
  text-decoration:none;
  color:gray;  
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#fff;
  }      
  .footer .row a i{
    height: 2vh;
    margin:0% 3%;    
  }
  @media only screen and (max-width:375px)  {
    .logo
    {
      display: none;
    }   
    main .container12
      {
       padding-left: 5vw;        
      }
    }
  
@media only screen and (min-width:376px) and (max-width:543px)  {       

  main .container12
    {
     padding-left: 5vw;        
    }
}
@media only screen and (min-width:544px) {
  .logo {    
    justify-content: initial;
    
    
    padding-left: 32px;
  }
  .titulo{    
    font-size: 32px;
    font-weight: bold;    
  }  
  main{
    display:grid;
    height: 80vh;    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60vh 10vh 10vh;
    grid-template-areas: "conteiner11 container21"
                         "conteiner12 container21"
                         "conteiner13 container22" ;  }
  main .container11
  { height: 67.5vh;
    overflow: hidden;
  }
  main .container12
  { height: 2.5vh;
    font-size: 10PX;
    padding-left: 5vw;       
  }
  main .container13
  { height: 10vh;
  }
  main .container21
    {height: 70vh;
    overflow: hidden;
  }
  main .container22
  {height: 10vh;
  }  
  .ingrese{    
    Width: 40vw;
    height:60vh;
    max-Width: 40vw;
    max-height:57vh;  
    background:transparent;
    border: none;   
    padding: 2vh;
  }
  button {    
    font-weight: 700;    
  }  
  .mostrarresultado{
    background-image: url(../img/encriptar.jpg);
    background-size: cover;    
    background-position-y: center;
    Width: 40vw;
    height:60vh;
    padding: 2vh;
  }
  
  .footer{
    display:grid;
    height: 10vh;  
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 8vh 2vh;  
    background-image: linear-gradient(180deg, #609ED4 0, #356EA9 20%, #0A3871 50%, #072B61 75%, #052051 100%);    
    font-family: 'Play', sans-serif;
    overflow: hidden;
    }
    .logo_{
      grid-column: 1 / 2;
			grid-row: 1 / 2;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .red_{      
      grid-column: 2 / 3;
			grid-row: 1 / 2;
      display: flex;
      align-items: center;
      justify-content: center;
      
      padding: 0.6%;
      color:gray;      
      gap:5%;      
    }
    .copyr_{
      grid-column: 1 / 3;
			grid-row: 2 / 3;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;    
    }
    .red_ a{
      font-size:3vh;      
    }
    .footer .row a:hover{
      color:#fff;
    }
    
}